// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import 'vars';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

// Optional
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/code';
@import '../../node_modules/bootstrap/scss/grid';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&subset=cyrillic');

body {
  background-color: map-get($colors, 'background');
  color: map-get($colors, 'base');
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight-base;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight-heading;
}

.title {
  color: map-get($colors, 'heading');
  font-size: 2rem;
  font-weight: $font-weight-heading;
  margin-bottom: 0;
}

.subtitle {
  color: map-get($colors, 'subheading');
  font-size: 1.25rem;
  font-weight: $font-weight-base;
}

nav {
  background-color: map-get($colors, 'base');
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;

  .nav-item {
    color: map-get($colors, 'heading');
    font-size: 2rem;
    font-weight: $font-weight-heading;
    margin: 0;

    &:hover {
      color: map-get($colors, 'subheading');
    }
  }
}

.task-container {
  width: 100%;

  .task-container-text {
    display: block;
    font-size: 3rem;
    font-weight: $font-weight-heading;
    margin-top: calc( (100% - 3rem) / 2);
  }
}

.card {

}
