// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import 'vars';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

// Optional
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/code';
@import '../../node_modules/bootstrap/scss/grid';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&subset=cyrillic');

body {
  background-color: map-get($colors, 'background');
  color: map-get($colors, 'base');
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight-base;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight-heading;
}

.title {
  color: map-get($colors, 'heading');
  font-size: 2rem;
  font-weight: $font-weight-heading;
  margin-bottom: 0;
}

.subtitle {
  color: map-get($colors, 'subheading');
  font-size: 1.25rem;
  font-weight: $font-weight-base;
}

header {
  background-color: map-get($colors, 'base');
}

nav {
  background-color: map-get($colors, 'background');
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;

  .nav-item {
    color: map-get($colors, 'heading');
    cursor: pointer;
    font-size: 2rem;
    font-weight: $font-weight-heading;
    margin: 0;

    &:hover {
      color: map-get($colors, 'subheading');
    }
  }
}

.task-container {
  width: 100%;

  .task-container-text {
    display: block;
    font-size: 3rem;
    font-weight: $font-weight-heading;
    margin-top: calc( (50% - 3rem) / 2);
    text-align: center;
  }
}

.card {
  background-color: map-get($colors, 'base');
  border-radius: .125rem;
  display: flex;
  flex-flow: column;
  padding: 1.5rem 2rem;
  position: relative;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    padding: 1.25rem 1.5rem;
  }

  .card-button-remove {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 1.75rem;
    width: 2rem;

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      right: 1.5rem;
      top: 1.5rem;
    }

    &:hover {
      &::after,&::before {
        background-color: map-get($colors, 'subheading');
        opacity: .75;
      }
    }

    &::after,&::before {
      background-color: map-get($colors, 'heading');
      content: '';
      display: block;
      height: .25rem;
      transition: background-color 1s, opacity .5s;
      width: 100%;
    }

    &::after {
      margin-top: -.25rem;
      transform: rotate(45deg);
    }

    &::before {
      margin-top: .75rem;
      transform: rotate(-45deg);
    }
  }

  .card-content {
    color: map-get($colors, 'background');
  }
}

.modal {
  background-color: map-get($colors, 'base');
  border-radius: .25rem;
  padding: 1.5rem 2rem;
  width: 100%;

  .modal-body {
    color: map-get($colors, 'background');
  }

  &-overlay {
    background-color: rgba(map-get($colors, 'background'), .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &-close {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 1.75rem;
    width: 2rem;

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      right: 1.5rem;
      top: 1.5rem;
    }

    &:hover {
      &::after,&::before {
        background-color: map-get($colors, 'subheading');
        opacity: .75;
      }
    }

    &::after,&::before {
      background-color: map-get($colors, 'heading');
      content: '';
      display: block;
      height: .25rem;
      transition: background-color 1s, opacity .5s;
      width: 100%;
    }

    &::after {
      margin-top: -.25rem;
      transform: rotate(45deg);
    }

    &::before {
      margin-top: .75rem;
      transform: rotate(-45deg);
    }
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .5s;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.guest-ac {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: map-get($colors, 'subheading');
    text-decoration: none;
  }
}

.form-group {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  width: 100%;
}

input, textarea, label {
  display: block;
  width: 100%;
}
